{% load static %}<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Citadel</title>
    <link rel="stylesheet" href="{% static "generic.css" %}">
</head>
<body>
<main>
    <h1>Hello!</h1>
    <p>You have reached a Citadel installation.</p>
    <p>
        If you are the event organizer,<br>
        head on over to the <a href="/admin/">Administration Site</a> to set things up.
    </p>
    <p>
        If you are a competitor, just hold on tight &ndash;
        a friendly event organizer will give you the URL of the next round when it's time to &hellip;<br><br>
        <img src="{% static "logo.png" %}">
    </p>
</main>
</body>
</html>
