body {
  background: #333;
  color: #4effa1;
  font: 2vmin sans-serif;
  overflow: hidden;
  text-align: center;
  margin: 1vmin;
}

main {
  max-width: 35em;
  margin: auto;
}

a {
  color: #d9ffea;
}

p {
  margin-bottom: 2em;
}
