<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructions</title>
    <style>
        body {
            background: #333;
            color: #0DFDFF;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<h1>Instructions</h1>
<ol>
    <li>No previews - of either results or assets!</li>
    <li>Stay in this editor at all times</li>
    <li>No measurement tools</li>
    <li>Stop coding when the time's up</li>
    <li>After the round is over, press "Finish" and follow the prompt instructions to see your results</li>
</ol>
Good luck and most important of all; have fun!

<h1>Assets</h1>
<ol>
    {% for asset in round.assets.all %}
        <li>
            <tt>{{ asset.short_url }}</tt>
            {{ asset.description }}
        </li>
    {% endfor %}
</ol>

</body>
</html>
