<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructions</title>
    <style>
        body {
            background: #333;
            color: #0DFDFF;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<h1>Instructions</h1>
{{ rules_html }}

<h1>Assets</h1>
<ol>
    {% for asset in round.assets.all %}
        <li>
            <tt>{{ asset.short_url }}</tt>
            {{ asset.description }}
        </li>
    {% endfor %}
</ol>

</body>
</html>
